<h1>Welcome to Notes</h1>


 <form id="new_note" action="/notes" method="post">
    <textarea class='note_form' name="message" placeholder="Write a note"></textarea>
    <input type="submit" value="Send">
  </form>
