<% if @errors %>
  <%= @errors %>
<% end  %>
<h3>Login</h3>
<form action="/login" method="post">
  <input type="text" placeholder="username" name="username"/>
  <input type="text" placeholder="password" name="password"/>
  <input type="submit" value="Login">
</form>

<h3>or</h3>
<h3>Signup </h3>

<form action="/signup" method="post">
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <input type="password" placeholder="Verify Password" name="verify_password">
  <input type="submit" value="Signup">
</form>
